<!-- #region Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0">
            <img
                src="./assets/images/LogoWhiteCat.png"
                height="80"
                alt=""
                loading="lazy"
            />
        </span>

        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" (click)="BackToUser()"><i class="bi bi-house-fill" style="margin-right: 5px;"></i>Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<!-- #endregion -->

<div id="adminMenuBG" class="bg-image">
    <!-- #region Admin Login -->
    <div *ngIf="Mode == ModeAdminLogin">
        <form class="form form-horizontal" [formGroup]="FormLogin" #enjiForm="ngForm" novalidate (ngSubmit)="FormLogin.valid && LoginAdmin()">
            <div class="form-body">
                <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
                    <div class="card bg-dark" style="width: 400px;">
                        <div class="card-body text-white">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <h3 class="card-title">Admin Login</h3>
                                </div>
                            </div>
                            <div class="white-line"></div>
                            <div class="form-group row mb-3">
                                <div class="col-md-12 text-white text-bold">
                                    <label class="label-field" translate>Username</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" id="Username" class="form-control input-field" placeholder="Username" formControlName="username"
                                    [ngClass]="{'is-invalid' : enjiForm.submitted && FormLogin.controls['username'].invalid}"/>
                                    <div *ngIf="enjiForm.submitted && FormLogin.controls['username'].invalid" class="invalid-feedback">
                                        <div *ngIf="FormLogin.controls['username'].errors['required']">
                                            Username wajib diisi.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <div class="col-md-12 text-white text-bold">
                                    <label class="label-field" translate>Password</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="password" id="password" class="form-control input-field" placeholder="Password" formControlName="password"
                                    [ngClass]="{'is-invalid' : enjiForm.submitted && FormLogin.controls['password'].invalid}"/>
                                    <div *ngIf="enjiForm.submitted && FormLogin.controls['password'].invalid" class="invalid-feedback">
                                        <div *ngIf="FormLogin.controls['password'].errors['required']">
                                            Password wajib diisi.
                                        </div>
                                    </div>
                                    <div *ngIf="IncorrectAuthentication == true" class="invalid-text-color">
                                        Username atau Password salah.
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- #endregion Admin Login -->

    
    <!-- #region Admin MainMenu -->
    <div class="content" *ngIf="Mode == ModeAdminMain">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-12 pt-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-success" (click)="TempatPenginapanHandler(FormAdd)"><i class="bi bi-plus-circle-fill" style="margin-right: 5px;"></i>Tambah</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 pt-3">
                    <div class="row">
                        <div class="col-md-12 text-white text-bold">
                            <label class="label-field" translate>Daerah</label>
                        </div>
                        <div class="col-md-12">
                            <select class="form-control" style="width: inherit" [(ngModel)]="FilterDaerah">
                                <option value="">Semua</option>
                                <option *ngFor="let item of ListDaerah" [value]="item">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-3">
                    <div class="row">
                        <div class="col-md-12 text-white text-bold">
                            <label class="label-field" translate>Jenis</label>
                        </div>
                        <div class="col-md-12">
                            <select class="form-control" style="width: inherit" [(ngModel)]="FilterJenis">
                                <option value="">Semua</option>
                                <option *ngFor="let item of ListJenis" [value]="item">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-3 mt-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-dark" (click)="FilterTempatPenginapan()"><i class="bi bi-funnel-fill" style="margin-right: 5px;"></i>Filter</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content">
                    <div class="row">
                        <div class="col-md-12 text-white text-bold">
                            <label class="label-field" translate>Search Nama</label>
                        </div>
                        <div class="col-md-12 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-search"></i></span>
                            </div>
                            <input type="text" id="Nama" class="form-control input-field" placeholder="Search Nama" [(ngModel)]="SearchName" (paste)="SearchNamaPenginapan()" (keydown)="SearchNamaPenginapan()" (change)="SearchNamaPenginapan()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-dark align-middle">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">Nama</th>
                                    <th class="text-center" scope="col">Foto</th>
                                    <th class="text-center" scope="col">Harga</th>
                                    <th class="text-center" scope="col">Daerah</th>
                                    <th class="text-center" scope="col">Jenis</th>
                                    <th class="text-center" scope="col">Rating Kebersihan</th>
                                    <th class="text-center" scope="col">Rating Fasilitas</th>
                                    <th class="text-center" scope="col">Rating Pelayanan</th>
                                    <th class="text-center" scope="col">Rating Lokasi</th>
                                    <th class="text-center" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ListTempatPenginapanView; let i = index">
                                    <td style="text-align: left;">{{ item.data.Nama }}</td>
                                    <td style="text-align: center;"><img [src]="item.data.File64" class="responsive-image-table" alt="Converted Image"></td>
                                    <td style="text-align: right;">Rp{{ item.data.Harga | currency : '':'' }}</td>
                                    <td style="text-align: left;">{{ item.data.Daerah }}</td>
                                    <td style="text-align: left;">{{ item.data.Jenis }}</td>
                                    <td style="text-align: center;"><i class="bi bi-star-fill" style="margin-right: 5px;"></i>{{ item.data.Kebersihan }}</td>
                                    <td style="text-align: center;"><i class="bi bi-star-fill" style="margin-right: 5px;"></i>{{ item.data.Fasilitas }}</td>
                                    <td style="text-align: center;"><i class="bi bi-star-fill" style="margin-right: 5px;"></i>{{ item.data.Pelayanan }}</td>
                                    <td style="text-align: center;"><i class="bi bi-star-fill" style="margin-right: 5px;"></i>{{ item.data.Lokasi }}</td>
                                    <td>
                                        <a style="margin-right: 5px;" (click)="TempatPenginapanHandler(FormEdit, item.id, item.data)">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a (click)="DeleteTempatPenginapan(item.id)">
                                            <i class="bi bi-trash-fill" style="color: red;"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="ListTempatPenginapanView.length == 0">
                                    <td colspan="10" class="text-center">No Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Admin MainMenu -->
</div>